.vscode
.idea
.env
.github

*.profiling
*.so
*.json
*.csv

results.txt
build/
build_debug/
node_modules
tests/
examples/
envs/
Benchmark/cBench/err.txt
*src_work
Experiments/Profile_Projection/LL_Files/
Experiments/Profile_Projection/Profiles/
Results/
Summarized_Results/