.vscode
.idea
results.txt
*.profiling
Results/
*.so
build/
tests/
examples/
*src_work
Benchmark/cBench/err.txt
envs/
.env
build_debug
node_modules
.github
Experiments/Profile_Projection/LL_Files/
Experiments/Profile_Projection/Profiles/
*.json
*.csv